<%= render "shared/errors", obj: @locationinfo %>

<p>
  「＊」が付いている項目は必須項目です。
</p>

<table class="attr">
  <tr>
    <th width="90"><%= form.label :store_number %></th>
    <td><%= form.collection_select :store_number, Store.all, :store_number, :store_name, :prompt => "店舗選択" %></td>
  </tr>
  <tr>
    <th><%= form.label :location_info_number %></th>
    <td><%= form.text_field :location_info_number %></td>
  </tr>
  <tr>
    <th><%= form.label :lat %></th>
    <td><%= form.text_field :lat %></td>
  </tr>
  <tr>
    <th><%= form.label :long %></th>
    <td><%= form.text_field :long %></td>
  </tr>
</table>
