<% @page_title = "店舗情報編集" %>
<h1><%= @page_title %></h1>

<%= form_for [:admin, @store] do |form| %>
<%= render "form", form: form %>
<table class="tcont">
  <tr>
    <td><%= form.submit %></td>
  </tr>
</table>
<% end %>

<table class="tcont">
  <tr>
    <td>
      <%= link_to "詳細に戻る", [:admin, @store] %> /
      <%= link_to "一覧に戻る", :admin_store %>
    </td>
  </tr>
</table>


